/*---------title----------*/

/*---------input----------*/

.ToDoInput {
  background: bisque;
}

.ToDoInputBox {
  background: none;
  outline: none;
  border: 1px solid rgb(83, 79, 76);
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  flex: 1;
  margin-bottom: 8px;
  width: 280px;
}

.ToDoInput input placeholder {
  color: #c6cace;
}

.ToDoInput dl dt {
  float: left;
  line-height: 45px;
  align-items: center;
}

.ToDoInputContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  align-self: center;
  z-index: 1000;
  text-align: left;
  background: bisque;
  padding: 25px;
  bottom: 0px;
}

.ToDoInputContainer h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
}

.ToDoInputSaveBtn {
  background: none;
  outline: none;
  border: none;
  padding: 8px;
  background: rgb(255, 207, 148);
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1 background ease-in;
  margin-right: 0;
  margin-left: auto;
}

.ToDoInputCloseBtn {
  position: absolute;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  padding: 8px;
  background: rgb(241, 194, 136);
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  margin-top: -20px;
  border-radius: 20px;
  font-size: 1.3rem;
}

.ToDoAdd button {
  background: none;
  outline: none;
  border: none;
  background: rgb(255, 214, 164);
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  transition: 0.1 background ease-in;
}

.ToDoAdd {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ToDoAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  vertical-align: middle;
}

.ToDoAddButton svg {
  font-size: 1.3rem;
  line-height: normal;
}

/*---------todo----------*/

.ToDoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.ToDoListItem :nth-child(even) {
  background: #ffffff;
}

.checkbox {
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.checkbox svg {
  font-size: 1.5rem;
}

.checkbox .text {
  margin-left: 0.5rem;
  flex: 1;
}

.checkbox.checked .text {
  color: #adb5bd;
  text-decoration: line-through;
}

.remove {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #ff6b6b;
  cursor: pointer;
}

.remove :hover {
  color: #ff8787;
}

/*---------todo List----------*/

.ToDoItemList {
  min-height: 433px;
  max-height: 433px;
  min-width: 299px;
  border: solid 4px bisque;
  overflow-y: auto;
}
